# ignore Python venv
venv/
.venv/
env/
.env/
bin/
lib/
lib64/
lib64
include/
share/
pyvenv.cfg
etc/
wandb/
nohup.out
CACHEDIR.TAG
# ignore Python compiled and cached data
__pycache__/
*.pyc
*.pyo
*.pyd

# ignore IDE config
.vscode/
.idea/

# ignore logs
*.log
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoint
.ipynb_checkpoints/
consistency_distillation.ipynb
train_lcm_distill_sd_wds.ipynb
sample.ipynb
LCMStest.ipynb
# Pipenv Poetry 
Pipfile
Pipfile.lock
poetry.lock

# data of my own
data/
checkpoints/
lcm_images/
result/colored_mnist/
result/ShapeColorAdd_cd/
